<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Blank
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div *ngFor="let movie of movies">
    <div>
      {{ movie.title }}
    </div>
    <div>
      <!-- <a [routerLink]="'/details/' + movie.id">Details</a> -->
      <a (click)="goToDetailsPage(movie.id)">Details</a>
    </div>
  </div>
</ion-content>
